<div class='recipe-details'>
    <hi> Orecchiette with Sausage and Broccolini </h1>
        <p> This is a great dish to make if you are in a rush, or don't want to buy anything fancy at the store. It takes about as much time as boiling a pot of water, is relatively healthy, and most importantly very tasty.
            <ul>Ingredients:
                <li>1 box of orecchiette pasta</li>
                <li>2 cloves of garlic - minced</li>
                <li>1 or more tbsp dried red pepper flakes</li>
                <li>⅓ cup of fresh minced parsley</li>
                <li>⅓ cup of olive oil</li>
                <li>1 pound of ground hot italian sausage</li>
                <li>1 cup of broccolini - just the tree like parts, no stalks</li>
                <li>Freshly grated parmesan cheese, salt and pepper to taste.</li>
            </ul>
            <ul> Special Kitchenware Needed:
                <li>Large cast iron pan</li>
            </ul>
        <ol>
            Instructions:
            <li>Start by bringing a pot of water to a boil.</li>
            <li>While your water is boiling, mince your garlic, chop your broccolini, and mince your parsley.</li>
            <li>Add a little oil to your cast iron pan and preheat it, don’t get it ripping hot though, or else you will just sear your sausage and not cook it all the way through.</li>
            <li>Take your sausage and push it flat onto the pan, making it as thin as you want. Flip it after it has cooked well on one side.</li>
            <li>After both sides are cooked, break the sausage up into bite sized pieces and make sure to cook the meat all the way through.</li>
            <li>By this time, your pasta should be cooked. Save about a cup of that pasta water and drain your pasta.</li>
            <li>Remove the sausage from the pan. Add the minced garlic and broccolini and sear until the broccolini has softened, but still has good structure and crunch. Remove the cooked broccolini.</li>
            <li>Add the ⅓ cup oil to the pan and heat (you’ll know it’s hot enough when the stuff left over in the pan begins to pop. Turn the heat off and add the red pepper flakes to the oil.</li>
            <li>Combine all cooked ingredients and mix into the oil. Add the pasta water back to pan, the starch in pasta water helps oil based sauces stick to the pasta by creating an water in oil emulsion.</li>
            <li>Mix in the parsley, plate and add salt, pepper and cheese to taste. Enjoy!</li>
        </ol>
    </p>
    <a href="D:\Users\quacha01\Documents\Programming\CS290\website\assets\Orechiette with Sausage Recipe.pdf" download="">Download this Recipe!</a>
</div>
